@charset "utf-8";

p { 
	color: #f0f;
}
/*
@media screen and (max-width: 599px) {
	.col{
		float: none;
		margin-left: 0;
		margin-right: 0;
		width: auto;
	}   
	.row{
		padding: 0 8px;
	}
}
*/
@media (max-width: 599px) {
	main{
		width: 90%;
	}
	main img {
		width: 100%;
	}
}
a::before{
	content: "\02747";
	font-size: 16px;
	color: #f0f;
}
